.mint-container {
    max-height: 100vh;
    padding-top: 6rem;
    background-color: #121212; /* Example background color */
    color: #ffffff;
}

.preview-image {
    width: 100%; /* Make it responsive */
    height: auto; /* Keep aspect ratio */
}

.form-field {
    margin-bottom: 1.5rem; /* Space between form fields */
}
